{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save your Time</title>
    <link rel="stylesheet" href="/static/css/style3.css"> 
</head>
<body>
    <section class="showcase">
        <header>
            <img src="/static/css/logo.PNG" class="logo" width='200px' height='65px'>
            
        </header>
        <video src="/static/css/World1992.mp4" muted loop autoplay></video>
        <div class="overlay"></div>
           
            <div class="text">
                <h1>
                  Our goal is to help our user understand their social media habits   
                </h1>
                <p>Sometimes while we are using social media, we do not realize 
                    all the hours that we have spend on these platform. As a user
                    we do not see the how addicting these platforms could be and 
                    may need a remainder of all the time we consume in these platforms.
                    We created a survey that our users take and base on the suvey 
                    we can gove feedback to the user we also recommend ways to spend your
                    time.
                </p>
                <a href="">Learn More</a>
            
            </div> 
           
            <ul class="social">
                <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png" alt=""></a></li>
                <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" alt=""></a></li>
                <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png" alt=""></a></li>
              </ul>
        </section>
        </div>
        

    
</body>
</html>

{% endblock %}
